@page "/AddNewLink"
@rendermode InteractiveServer
@using System.Text.Json
@using WebApp.Helpers
@inject LocalStorageService LocalStorage
@inject NavigationManager Navigation

<h3>Add new RSS feed</h3>

<CreateEditForm Link="@link" OnSubmit="Submit" SubmitButtonText="Add new" />

<br/>
<NavLink href="FeedLinks">
    Back to the links
</NavLink>

@code {
    private string link;

    private async Task Submit(string newLink)
    {
        var storeItems = await LocalStorage.GetItem("items");

        var links = JsonSerializer.Deserialize<List<string>>(storeItems) ?? new List<string>();

        links.Add(newLink);

        await LocalStorage.AddLink("items", JsonSerializer.Serialize(links));
        Navigation.NavigateTo("FeedLinks");
    }
}
