@inherits LayoutComponentBase

<div class="page">

    <main>
        <header>
            <NavLink class="header-link" href="RssFeed">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> RssFeed
            </NavLink>
             |
            <NavLink class="header-link" href=FeedLinks>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> FeedLinks
            </NavLink>
        </header>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>